<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Second Run Start Order</h4>
<div class="col-8">
    <h3 th:unless="${results} and ${results.size()}">There is no second run order!</h3>
    <table th:if="${results} and ${results.size()>0}" class="table table-hover">
        <th>Athlete</th>
        <th>Country</th>
        <th>First Run Time</th>
        <tr th:each="result : ${results}">
            <td th:text="${result.athleteName}"></td>
            <td th:text="${result.country}"></td>
            <td th:text="${result.firstRunTime}"></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
